{% extends 'layouts/base.html' %}
{% block content %}
    <div class="col-12">
        <div class="rounded h-100 p-4">
            <h6 class="mb-4">Demandes en attente de validation</h6>
            <div class="table-responsive">
                {% if DemandeTeleTravail_list_attente %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date de demande</th>
                                <th scope="col">Motif de la statut</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Détails</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for DemandeTeleTravail in DemandeTeleTravail_list_attente %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ DemandeTeleTravail.date_demande }}</td>
                                    <td>{{ DemandeTeleTravail.motif }}</td>
                                    <td>{{ DemandeTeleTravail.statut }}</td>
                                    <td>
                                        <a href="{% url 'demande_detail' demandeTeleTravail_id=DemandeTeleTravail.pk %}">
                                            <div class="icone-oeil">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date de demande</th>
                                <th scope="col">Motif de la statut</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Détails</th>
                            </tr>
                        </thead>
                        <tbody>
                            <h5 class="center">Aucune correspondance</h5>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
