{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="loader" class="loader"></div>
    <!-- Start Content-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body m-5">
                    <h4 class="header-title"
                        style="text-align:center;
                               font-size: 24px;
                               color: #333">Faire une demande</h4>
                    {% if method == "post" %}
                        <form method="{{ method }}"
                              class="form"
                              action="{% url 'DemandeTeleTravail_create' %}">
                            {% crispy form %}
                            {% csrf_token %}
                        </form>
                    {% else %}
                        <form method="post"
                              class="form"
                              action="{% url 'DemandeTeleTravail_UpdateView' pk=object.pk %}">
                            {% crispy form %}
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!-- container -->
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {
           
            $('#id_autre_champ_si_nécessaire').closest('.form-group').hide();

            
            $('#id_lieu').change(function () {
                if ($(this).val() === 'Domicile') {
                    $('#id_autre_champ_si_nécessaire').closest('.form-group').hide();
                } else {
                    $('#id_autre_champ_si_nécessaire').closest('.form-group').show();
                }
            });

            
            $('#id_lieu').change();

            
            $('#id_autre_motif').closest('.form-group').hide();
    
            
            $('#id_motif').change(function () {
                if ($(this).val() === 'Autres') {
                    $('#id_autre_motif').closest('.form-group').show();
                } else {
                    $('#id_autre_motif').closest('.form-group').hide();
                }
            });
    
            $('#id_motif').change();
        });
        
    </script>
{% endblock scripts %}
