{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Start Content-->
<div class="row justify-content-center mt-5">
    <div class="col-lg-8 col-md-10">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title text-center" style="font-size: 24px; color: #333;">
                    Motif de refus
                </h4>

                <!-- Form to refuse the telework request -->
                <form method="post" class="form mt-4" action="">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                <!-- end form -->
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- end container -->
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        let datatable_language = {
            processing: "Traitement en cours...",
            search: "Rechercher&nbsp;:",
            lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
            info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix: "",
            loadingRecords: "Chargement en cours...",
            zeroRecords: "Aucun &eacute;lement &agrave; afficher",
            emptyTable: "Aucune donnée disponible dans le tableau",
            paginate: {
                first: "Premier",
                previous: "Pr&eacute;c&eacute;dent",
                next: "Suivant",
                last: "Dernier"
            },
            aria: {
                sortAscending: ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        };

        $('.table').DataTable({
            language: datatable_language,
        });
    });
</script>
{% endblock scripts %}
